$text-color:#AFAEB3;
$fontFamily: 'Cairo', sans-serif;
$uppercase:uppercase;
$capital:capitalize;
$width:1px;
$bd-color:#d4d4d4;
$type:solid;
$se-bg-color:#F5F8FD;
$white-color:#fff;
$shadow:#ccc;
$from:#9646DB;
$to:#7249fb;
$bg-img-path:'../assets/img/banner/home-banner.jpg';
$black:#000;
$li-color:#777;
$footer-color:#6247ea;
$p-color:#777;
$h-color:#222;